<div class="modal-header">
  <h3>Edit Team</h3>
</div>

<div class="modal-body">
  <div ng-show="error" class="error">
    <p>Error: {{error.data}}</p>
  </div>
  <p>Name: <input ng-model="team.name" /></p>
  <p>Captain: <input ng-model="team.captain" /></p>
  <p>Club: <select ng-model="team.club_id" ng-options="club.id as club.name for club in clubs"></select></p>
</div>

<div class="modal-footer">
  <button ng-click="submit()" class="btn btn-primary" >Save</button>
  <button ng-click="cancel()" class="btn btn-primary" >Cancel</button>
</div>